*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.boton
{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

}



.container{
    width: 100%;
    height: 100vh;
    padding: auto;
}

.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.container h1::after{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px
}

.servicio{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}

.servicio i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}

.servicio h2{
    font-weight: 600;
    margin-bottom: 8px;
}

.servicio:hover{
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
}

.servicio:hover i{
    color: #fff;
}



.popup{
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 5px solid #303ef7;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0.1);
    margin-top: 0px;
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%)scale(1);
}

.close-popup{
    
    top: 0%;
    transform: translate(-50%, -50%)scale(0);
    transition: transform 0.4s, top 0.4s;

}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #303ef7;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}